
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

body {
		font-family: Garamond;
		background-color: plum;
		width: 500px;
		height: 1400px;
		margin: 0 auto;

}

main {
		font-family:Garamond;
		background-color: lightpink;
		padding: 25px lemonchiffon;
		border: solid 15px plum;
		margin: 5vh;
}

h1 {
	font-family: 'Annie Use Your Telescope', cursive;
	text-align: center;
	color: rebeccapurple;
	border: 10px lemonchiffon;
	background: plum;
	padding: 10px lightpink;
	margin: 10px;
}
p {
		background-color: plum;
		font-family: Garamond;
		font-size: 22px;
		color: rebeccapurple;

}
span {
        background: lightgreen;
        border: 0px;
      }

.positioned {
	position: relative;
	top: 30px;
	left: 90px;
	background: thistle;
	padding: 10px powderblue;

}

.positioned2 {
	text-align: right;
	position: relative;
	top: 10px;
	right: 92px;
	background: thistle;
	font-size: 14;
	padding-right: 10px lightblue;
	margin-right: 5px lightpink;
}

.positioned3 {
	position: relative;
	top: 20px;
	left: 40px;
	background: powderblue;
	padding: 10px thistle;
	font-size: 18px;
}

.boxes {
	width: 50%;
	float: left;
}

#mainDiv {
	width: 50%;
	margin:auto;
}
img{
	max-width: 100%;
}
