
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

body {
		font-family: Garamond;
		background-color: plum;
		width: 500px;
		height: 1400px;
		margin: 0 auto;

}

main {
		font-family:Garamond;
		background-color: lightpink;
		padding: 5px plum;
		border: solid 5px paleturquoise;
		margin: 5vh;
}

h1 {
	font-family: 'Annie Use Your Telescope', cursive;
	position: relative;
	text-align: center;
	top: 0;
	width: 500;
	margin-top: 0;
	border: 10px lemonchiffon;
	background: plum;
	padding: 10px;
	margin: 10px;
	)

#h2 {
	font-family: 'Annie Use Your Telescope', cursive;
	position: fixed;
	text-align: center;
	border: 10px lemonchiffon;
	padding: 10px;
	margin: 10px;
	background: plum;
}

p:nth-of-type(1){
	margin-top: 60px;
}
p {
		background-color: plum;
		font-family: Garamond;
		font-size: 22px;
		text-align: center;
		color: rebeccapurple;
		border: 3px lightblue;
        padding: 10px;
        margin: 10px;

}
span {
        background: lightgreen;
        border: 0px;
      }

.positioned {
	position: relative;
	top: 30px;
	left: 20px;
	background: lightpink;

}

.positioned2 {
	position: relative;
	top: 10px;
	right: 22px;
	background: thistle;
}

.positioned3 {
	position: relative;
	top: 20px;
	left: 40px;
	background: powderblue;
}
