
body {
		background-color: light blue;

}

main {
		background-color: lightpink;
		padding: 5px;
		border: solid 5px paleturquoise;
		margin: 5vh;
}

p {
		color: plum;
		font-family: Garamond;
		font-size: 22px;
		text-align: center;
}
