@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
	background-color: whitesmoke;
	font-family: Quicksand;
	text-align: center;
	padding: 5px;
}
main {
	background-color: whitesmoke;
}

p {
	font-family: Quicksand;
	font-size: 100px;
	text-align: center;
	padding: 15px;
}

button {
	border-radius: 100px;
	height: 200px;
	width: 200px;
	stroke: 0px;
	font-family: Quicksand;
	font-size: 25px;
}

button:hover {
	height: 400px;
	width: 400px;
	border-radius: 200px;
	font-size: 50px;

}

img:hover {
	padding: 20px;
}

.container {
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.container2 {
	flex-direction: column;
}

.red {
	background-color: crimson;
	border-width: 0px;
}

.redbody{
	background-color: darkred;
}

.blue {
	background-color: navy;
	border-width: 0px;
}

.bluebody {
	background-color: midnightblue;
}

.yellow {
	background-color: palegoldenrod;
	border-width: 0px;
}

.yellowbody {
	background-color: khaki;
}

.green {
	background-color: olivedrab;
	border-width: 0px;
}

.greenbody {
	background-color: darkolivegreen;
}

.colors {
	text-align: left;
	font-size: 50px;
}

.text {
	font-size: 30px;
}

.text2 {
	font-size: 25px;
}

.smalltext {
	font-size: 50px;
}
section {
	display: flex;
}

article {
	flex: 1;
}

article:nth-of-type(3) {
	flex: 2;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: space-around;
	}

img {
	width: 200px;
	height: 120px;
	
}